
* {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
}
.body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    height: 700px;
}
.row-fst-top {
    .txt {
        position: relative;
        .sp-1 {
            position: absolute;
            left: 40px;
            top: 20px;
            text-transform: uppercase;
            z-index: 10;
            font-size: 60px;

            text-shadow: 1px 1px 6px black;
        }
    }
}
.ft {
    position: absolute;
    margin: 0 2px;
    bottom: 64px;
    left: calc(54px * 2);
}
.t {
    position: absolute;
    margin: 0 2px;
    bottom: 32px;
    left: 54px;
}
.row-center {
    .txt-center {
        position: relative;
        .sp-2 {
            position: absolute;
            left: 310px;
            top: -10px;

            text-transform: uppercase;
            z-index: 10;
            font-size: 60px;

            text-shadow: 1px 1px 6px black;
        }
    }
}
.c {
    margin: 0 2px;
}
.row-bottom {
    .txt-bottom {
        position: relative;
        .sp-3 {
            position: absolute;
            right: 400px;
            top: 15px;

            text-transform: uppercase;
            z-index: 10;
            font-size: 60px;

            text-shadow: 1px 1px 6px black;
        }
    }
}
.b {
    //hex w = 104, h = 60
    position: absolute;
    top: 32px;
    left: calc(104px * 3 - 42px);
    margin: 0 2px;
}
.lb {
    //hex w = 104, h = 60
    position: absolute;
    top: 64px;
    left: calc(104px * 5 + 20px);
    margin: 0 2px;
}
.hex {
    width: 104px;
    height: 60px;
    background-color: #778899;
    position: relative;
    float: left;

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 30px solid #778899;
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
        position: absolute;
        top: -30px;
    }
    &::after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -30px;
        border-top: 30px solid #778899;
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
    }
}
